@media print {
    @page {
        size: A4 landscape;
        margin-top: 2cm;
        @top-right-corner { 
            content: "This page is intentionally left blank." 
        }    
    }

    @page:first {
        margin-top: 0.5cm;
    }

    a[href]:after { 
        content: none !important; 
    }

    .page-header,div.filter{
        text-align:center;
        font-weight: normal;
    }

    div.filter label{
        font-weight: bold;
    }

    div.main{
        width: 100% !important;
    }

    .navbar,div.sidebar,.screen_only{
        display: none !important;
    }
}

@media screen {
    .print_only{
        display: none !important;
    }
}