Django>=5.2.7
django-allauth>=0.60.1
django-appconf>=1.0.6
django-bootstrap3>=23.6
django-debug-toolbar>=4.3.0
# django-fsm>=2.8.1
django-tables2>=2.7.0
django-filter
python-decouple>=3.8
pyyaml>=6.0.1
psycopg[binary]
psycopg[c]
psycopg[pool]
django-import-export
django-crontab
Pillow
django-bootstrap-datepicker-plus
# django-pwa
djangorestframework
djangorestframework-simplejwt
#djoser
gunicorn
django-user-sessions
setuptools
django-otp
qrcode
ipython
django-autocomplete-light
django-leaflet
rollbar
django-storages[s3]
pyshp
django-auditlog
django-taggit