Django==5.0.2
django-allauth>=0.60.1
django-appconf>=1.0.6
django-bootstrap3>=23.6
django-debug-toolbar>=4.3.0
django-fsm>=2.8.1
django-tables2>=2.7.0
django-filter
python-decouple>=3.8
pyyaml>=6.0.1
psycopg[binary]
psycopg[c]
django-import-export
django-crontab
Pillow
django-bootstrap-datepicker-plus
django-mptt
python-telegram-bot
requests
# django-admin-interface
rollbar
openai
markdown2
telegramify-markdown