ul.actions-list {
    display: inline-block;
    padding: 0;
    color: var(--object-tools-fg);
    font-weight: 400;
    font-size: 0.6875rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0;
}

ul.actions-list li {
    /* display: inline-block; */
    float: right;
    margin: 0px 5px 5px 0;
    padding: 0;
    /* height: 1rem; */
    /* display: block; */
    width: max-content;
}

ul.actions-list a {
    display: block;
    border-radius: 15px;
    width: max-content;
    /* float: right; */
    padding: 3px 12px;
    /* padding-left: 12px; */
    background: var(--object-tools-bg);
    color: var(--object-tools-fg);
    font-weight: 400;
    font-size: 0.6875rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;

}

/* ul.actions-list a:link, ul.actions-list a:visited {
    padding: 3px 12px;
    background: var(--object-tools-bg);
    color: var(--object-tools-fg);
    font-weight: 400;
    font-size: 0.6875rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
} */