{% extends 'company_profile/base.html' %}
{% load i18n %}
{% load static  %}

{% load bootstrap3 %}

{% block content %}
<h1 class="page-header">{% translate title %} ({% translate state %})</h1>
{% bootstrap_messages %}

<form  method="post">
{% csrf_token %}
    {% bootstrap_form form %}
	<h3>{{detail_title}}:</h3>

    <table id="detail_table"  class="table table-bordered">
        <tr>
        {% for field in detail_formset|first %}
            {% if field.is_hidden is not True %}
            <th>
            {{ field.label }}
            </th>
            {% endif %}
        {% endfor %}
        </tr>
    {% for form in detail_formset %}
        <tr>
        {% for field in form.visible_fields %}
            <td>
            {{ field.errors }}
            {{ field }}
            {% if field.help_text %}
            <p class="help" id="{{ field.auto_id }}_helptext">
            {{ field.help_text|safe }}
            </p>
            {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}        	
    </table>
	
</form>
<script>
$(document).ready(function(){
	$('form :input').attr('readonly','readonly');

	$('form :input').attr('readonly','readonly');
	$('td :input').attr('class','form-control');
    $('div.bootstrap3-multi-input').find("a").each(function(i,e){
        var a = '<a target="_blank" href="/media/'+$(e).text()+'">'+$(e).text()+'</a>'
        $(e).parent().html(a)

    });

});
</script>
{% endblock content %}
