{% extends 'company_profile/base.html' %}
{% load i18n %}
{% load static  %}

{% load bootstrap3 %}

{% block content %}
<h1 class="page-header">{{title}}</h1>
{% bootstrap_messages %}

<form  method="post"  enctype="multipart/form-data">
{% csrf_token %}
    {% bootstrap_form form %}
	<h3>{{detail_title}}:</h3>
    {{ detail_formset.management_form }}
    <table id="detail_table"  class="table table-bordered">
        <tr>
        {% for field in detail_formset|first %}
            {% if field.is_hidden is not True %}
            <th>
            {{ field.label }}
            </th>
            {% endif %}
        {% endfor %}
        </tr>
    {% for form in detail_formset %}
        <tr>
        {% for field in form.visible_fields %}
            <td>
            {{ field.errors }}
            {{ field }}
            {% if field.help_text %}
            <p class="help" id="{{ field.auto_id }}_helptext">
            {{ field.help_text|safe }}
            </p>
            {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}        	
    </table>

	
    {% buttons %}
        <button type="submit" class="btn btn-primary">{% translate "Submit" %}</button>
    {% endbuttons %}
</form>
<script type="text/javascript" src="{% static 'company_profile/js/admin_jsi18n.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
{{ form.media }}

<script src="{% static 'company_profile/js/jquery.formset.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('tr').attr('class','form-group');
	$('td :input').attr('class','form-control');
});

    /*$(function() {
        $('#detail_table tbody tr').formset({
            prefix: '{{ formset.prefix }}',
			addText: '{% translate "add_more" %}',
			deleteText: ' X'
        });
    })*/
</script>
{% endblock content %}
