{% load i18n %}
<!doctype html>
<html lang="en" {% if request.LANGUAGE_CODE == "ar" %} dir="rtl" {% endif %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>{% block title %}{% translate "E-Services App" %}{% endblock title %}</title>
<style>
	{% if request.LANGUAGE_CODE == "ar" %}
	.form-control{
		text-align:right !important;
	}
	{% endif %}
	@media (min-width: 768px) {
		.sidebar {
	  {% if request.LANGUAGE_CODE == "ar" %}
		  right: 0;
		  border-left: 1px solid #eee;
	  {% else %}	
		  left: 0;
		  border-right: 1px solid #eee;
	  {% endif %}

		}
	  }
</style>
{% load bootstrap3 %}

{% bootstrap_css %}

{% if request.LANGUAGE_CODE == "ar" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-rtl.min.css" integrity="sha512-3Lr2MkT5iW+jVhwKFUBa+zQk8Uklef98/3mebU6wNxTzj65enYrFXaeuqPAYWxcQd1GAt9aUBvYHOIcl2SUsKA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endif %}

  <!-- Google Fonts - Tajawal for Arabic, with Roboto fallback for English -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Tajawal:wght@300;400;500;700&display=swap" rel="stylesheet">

{% load static  %}
{% load help_request %}
{% load company_user %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
<link rel="stylesheet" type="text/css" href="{% static 'company_profile/css/base.css' %}" />

	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>	
{% bootstrap_javascript %}


<style>
<style>
    body {
      font-family: 'Tajawal', 'Roboto', sans-serif !important;
    }

    .btn-portal-primary {
      font-family: 'Tajawal', sans-serif !important;
    }
    
    
    .btn-portal-secondary {
      font-family: 'Tajawal', sans-serif !important;
    }
    
    /* Better Arabic typography */
    h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
      letter-spacing: 0;
    }
    
    /* Search input styling */
    input[type="search"] {
      font-family: 'Tajawal', 'Roboto', sans-serif !important;
    }
    
    /* For mixed content - Arabic numerals */
    .arabic-numerals {
      font-family: 'Tajawal', sans-serif !important;
    }

</style>
<script>
$(document).ready(function(){
	$("th.asc").append('<span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>');
	$("th.desc").append('<span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>');

});

</script>
{% comment %} {% load pwa %}

{% progressive_web_app_meta %} {% endcomment %}
</head>
<body>
	{% help_model 'company_profile' %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'profile:home'%}">{% translate "E-Services App" %}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
		{% if user.is_authenticated %}	
          <ul class="nav navbar-nav {% if request.LANGUAGE_CODE == 'ar' %} navbar-left {% else %} navbar-right {% endif %}">
            <li>{% help_link 'company_profile' %}</li>
            <li><a href="{% url 'account_change_password'%}">{% translate "Change password" %}</a></li>
            <li><a href="{% url 'account_logout' %}">{% translate "Log Out" %}</a></li>
          </ul>
		  
		{% comment %} <form  class="navbar-form {% if request.LANGUAGE_CODE == 'ar' %} navbar-left {% else %} navbar-right {% endif %}" action="{% url 'profile:set_lang' %}" method="post">
			{% csrf_token %}
			<select  class="form-control" name="language"  onchange="this.form.submit()">
			{% get_current_language as LANGUAGE_CODE %}
			{% get_available_languages as LANGUAGES %}
			{% get_language_info_list for LANGUAGES as languages %}
			{% for language in languages %}
			<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{%	endif %}>
			{{ language.name_local }} ({{ language.code }})
			</option>
			{% endfor %}
			</select>
		</form> {% endcomment %}
	
		{% endif %}

        </div>
      </div>
    </nav>	
	
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-8 col-md-10 main">
		  
			{% block content %}
			{% endblock content %}
	  </div>	  

		  <div class="col-sm-4 col-md-2 sidebar">
		  <h4 class="text-center">{% translate "Menu" %}</h4>
		  <ul class="nav nav-sidebar">
			{% if  user|is_company_user %}

			 <li class="{% if menu_name == 'profile:home' %}active{% endif %} ">  
					<a href="{% url 'profile:home' %}">{% translate "Home page" %}</a>
			 </li>
			 <li class="{% if menu_name == 'profile:pa_request_list' %}active{% endif %} ">  
				<a href="{% url 'profile:pa_request_list' %}">{% translate "Request page" %}</a>
		 	</li>
		 {% comment %} <li class="{% if menu_name == 'profile:app_foreigner_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_foreigner_list' %}">{% translate "Application: Forigner movement" %}</a>
			 </li> {% endcomment %}
			 {% comment %} {% if user.pro_company.company.company_type == 'entaj' %} {% endcomment %}
			 <li class="{% if menu_name == 'profile:app_foreigner_record_list' or menu_name == 'profile:app_foreigner_record_show' %}active{% endif %} ">  
					<a href="{% url 'profile:app_foreigner_record_list' %}">{% translate "سجل الاجانب" %}</a>
			 </li>
			 {% comment %} {% endif %} {% endcomment %}
			 {% if user.pro_company.company.company_type == 'entaj' or user.pro_company.company.company_type == 'mokhalfat' %}
			 <li class="{% if menu_name == 'profile:app_gold_production_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_gold_production_list' %}">{% translate "Application: Gold Production" %}</a>
			 </li>
			 {% endif %}
			 {% if user.pro_company.company.company_type == 'entaj' or user.pro_company.company.company_type == 'mokhalfat' or user.pro_company.company.company_type == 'sageer' %}
			 <li class="{% if menu_name == 'profile:app_borrow_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_borrow_list' %}">{% translate "Application: BorrowMaterials" %}</a>
			 </li>
			 {% endif %}
			 <li class="{% if menu_name == 'profile:app_work_plan_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_work_plan_list' %}">{% translate "Application: Work Plan" %}</a>
			 </li>
			 <li class="{% if menu_name == 'profile:app_technical_financial_report_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_technical_financial_report_list' %}">{% translate "Application: Technical & Financial Reports" %}</a>
			 </li>
			 <li class="{% if menu_name == 'profile:app_change_company_name_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_change_company_name_list' %}">{% translate "Application: Company Name Changes" %}</a>
			 </li>
			 {% if user.pro_company.company.company_type == 'emtiaz' or user.pro_company.company.company_type == 'sageer' %}
			 <li class="{% if menu_name == 'profile:app_exploration_time_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_exploration_time_list' %}">{% translate "Application: Exploration Times" %}</a>
			 </li>
			 {% endif %}
			 {% if user.pro_company.company.company_type == 'emtiaz' or user.pro_company.company.company_type == 'sageer' %}
			 <li class="{% if menu_name == 'profile:app_add_area_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_add_area_list' %}">{% translate "Application: Add Area" %}</a>
			 </li>
			 {% endif %}
			 {% if user.pro_company.company.company_type == 'emtiaz' or user.pro_company.company.company_type == 'sageer' %}
			 <li class="{% if menu_name == 'profile:app_remove_area_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_remove_area_list' %}">{% translate "Application: Remove Area" %}</a>
			 </li>
			 {% endif %}
			 <li class="{% if menu_name == 'profile:app_tnazol_shraka_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_tnazol_shraka_list' %}">{% translate "Application: Tnazol Shraka" %}</a>
			 </li>
			 {% if user.pro_company.company.company_type == 'emtiaz' %}
			 <li class="{% if menu_name == 'profile:app_tajeel_tnazol_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_tajeel_tnazol_list' %}">{% translate "Application: Tajeel Tnazol" %}</a>
			 </li>
			 {% endif %}
			 <li class="{% if menu_name == 'profile:app_tajmeed_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_tajmeed_list' %}">{% translate "Application: Tajmeed" %}</a>
			 </li>
			 <li class="{% if menu_name == 'profile:app_takhali_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_takhali_list' %}">{% translate "Application: Takhali" %}</a>
			 </li>
			 <li class="{% if menu_name == 'profile:app_tamdeed_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_tamdeed_list' %}">{% translate "Application: Tamdeed" %}</a>
			 </li>
			 <li class="{% if menu_name == 'profile:app_taaweed_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_taaweed_list' %}">{% translate "Application: Taaweed" %}</a>
			 </li>
			 {% if user.pro_company.company.company_type == 'emtiaz' or user.pro_company.company.company_type == 'sageer' %}
			 <li class="{% if menu_name == 'profile:app_mda_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_mda_list' %}">{% translate "Application: MDA" %}</a>
			 </li>
			 {% endif %}
			 {% if user.pro_company.company.company_type == 'entaj' or user.pro_company.company.company_type == 'mokhalfat' or user.pro_company.company.company_type == 'sageer' %}
			 <li class="{% if menu_name == 'profile:app_change_work_procedure_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_change_work_procedure_list' %}">{% translate "Application: Change Work Procedure" %}</a>
			 </li>
			 {% endif %}
			 {% if user.pro_company.company.company_type == 'entaj' or user.pro_company.company.company_type == 'mokhalfat' or user.pro_company.company.company_type == 'sageer' %}
			 <li class="{% if menu_name == 'profile:app_export_gold_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_export_gold_list' %}">{% translate "Application: Export Gold" %}</a>
			 </li>
			 {% endif %}
			 {% if user.pro_company.company.company_type == 'sageer' %}
			 <li class="{% if menu_name == 'profile:app_export_gold_raw_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_export_gold_raw_list' %}">{% translate "Application: Export Gold Raw" %}</a>
			 </li>
			 {% endif %}
			 {% if user.pro_company.company.company_type == 'entaj' or user.pro_company.company.company_type == 'emtiaz' or user.pro_company.company.company_type == 'sageer' %}
			 <li class="{% if menu_name == 'profile:app_send_samples_for_analysis_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_send_samples_for_analysis_list' %}">{% translate "Application: Send samples for analysis" %}</a>
			 </li>
			 {% endif %}
			 <li class="{% if menu_name == 'profile:app_foreigner_procedure_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_foreigner_procedure_list' %}">{% translate "Application: Foreigner Procedure" %}</a>
			 </li>
			 <li class="{% if menu_name == 'profile:app_aifaa_jomrki_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_aifaa_jomrki_list' %}">{% translate "Application: Aifaa Jomrki" %}</a>
			 </li>
			 {% if user.pro_company.company.company_type == 'entaj' or user.pro_company.company.company_type == 'emtiaz' or user.pro_company.company.company_type == 'sageer' %}
			 <li class="{% if menu_name == 'profile:app_reexport_equipments_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_reexport_equipments_list' %}">{% translate "Application: Reexport Equipments" %}</a>
			 </li>
			 {% endif %}
			 <li class="{% if menu_name == 'profile:app_requirements_list_list' %}active{% endif %} ">  
					<a href="{% url 'profile:app_requirements_list_list' %}">{% translate "Application: Requirements List" %}</a>
			 </li>
			 <li class="{% if menu_name == 'profile:app_visibility_study_list' %}active{% endif %} ">  
				<a href="{% url 'profile:app_visibility_study_list' %}">{% translate "Application: Visiblity Study" %}</a>
			</li>
			{% if user.pro_company.company.company_type == 'emtiaz' %}
			<li class="{% if menu_name == 'profile:app_temporary_exemption_list' %}active{% endif %} ">  
			  <a href="{% url 'profile:app_temporary_exemption_list' %}">{% translate "Application: Temporary Exemption" %}</a>
			</li>
			{% endif %}
			</li>
			{% if user.pro_company.company.company_type == 'entaj' or user.pro_company.company.company_type == 'mokhalfat' or user.pro_company.company.company_type == 'sageer' %}
			<li class="{% if menu_name == 'profile:app_local_purchase_list' %}active{% endif %} ">  
				<a href="{% url 'profile:app_local_purchase_list' %}">{% translate "Application: Local Purchase" %}</a>
		 	</li>
			 {% endif %}
			 {% if user.pro_company.company.company_type == 'entaj' or user.pro_company.company.company_type == 'mokhalfat' %}
			 <li class="{% if menu_name == 'profile:app_cyanide_certificate_list' %}active{% endif %} ">  
				<a href="{% url 'profile:app_cyanide_certificate_list' %}">{% translate "Application: Cyanide Certificate" %}</a>
		 	</li>
			 {% endif %}
			 {% if user.pro_company.company.company_type == 'entaj' or user.pro_company.company.company_type == 'sageer' %}
			 <li class="{% if menu_name == 'profile:app_explosive_permission_list' %}active{% endif %} ">  
				<a href="{% url 'profile:app_explosive_permission_list' %}">{% translate "Application: Explosive Permission" %}</a>
		 	</li>
			 {% endif %}
			 {% if user.pro_company.company.company_type == 'emtiaz' or user.pro_company.company.company_type == 'sageer' %}
			 <li class="{% if menu_name == 'profile:app_restart_activity_list' %}active{% endif %} ">  
				<a href="{% url 'profile:app_restart_activity_list' %}">{% translate "Application: Restart Activity" %}</a>
		 	</li>
			 {% endif %}
			 {% if user.pro_company.company.company_type == 'mokhalfat' or user.pro_company.company.company_type == 'sageer' %}
			 <li class="{% if menu_name == 'profile:app_renewal_contract_list' %}active{% endif %} ">  
				<a href="{% url 'profile:app_renewal_contract_list' %}">{% translate "Application: Renewal Contract" %}</a>
		 	</li>
			 {% endif %}
			 {% if user.pro_company.company.company_type == 'entaj' or user.pro_company.company.company_type == 'mokhalfat' or user.pro_company.company.company_type == 'sageer' %}
			 <li class="{% if menu_name == 'profile:app_import_permission_list' %}active{% endif %} ">  
				<a href="{% url 'profile:app_import_permission_list' %}">{% translate "Application: Import Permission" %}</a>
		 	</li>
			 {% endif %}
			 <li class="{% if menu_name == 'profile:app_fuel_permission_list' %}active{% endif %} ">  
				<a href="{% url 'profile:app_fuel_permission_list' %}">{% translate "Application: Fuel Permission" %}</a>
		 	</li>
			 <li class="{% if menu_name == 'profile:app_whom_concern_list' %}active{% endif %} ">  
				<a href="{% url 'profile:app_whom_concern_list' %}">{% translate "Application: Whom may concern requests" %}</a>
		 	</li>

			 <li class="{% if menu_name == 'profile:app_hse_accident_list' %}active{% endif %} ">  
				<a href="{% url 'profile:app_hse_accident_list' %}">{% translate "Application: HSE Accident Report" %}</a>
		 	</li>
			 <li class="{% if menu_name == 'profile:app_hse_performance_list' %}active{% endif %} ">  
				<a href="{% url 'profile:app_hse_performance_list' %}">{% translate "Application: HSE Performance Report" %}</a>
		 	</li>
			 {% else %}
			 <p>Not a valid company! contact Adminisrtator.</p>
			 {% endif %}
			 </ul>
		  </div>	  


		  {% comment %} <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main"> {% endcomment %}
		</div>
	</div>

</body>
</html>
