{% extends "prices/base.html" %}
{% load i18n bootstrap3 %}

{% block title %}{% trans "تغيير كلمة المرور" %}{% endblock %}

{% block content %}
<div class="container" dir="rtl">
  <h2>{% trans "تغيير كلمة المرور" %}</h2>
  <form method="post" action="{% url 'prices:password_change' %}" class="form-horizontal" style="max-width: 500px;">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-primary" type="submit">{% trans "تغيير كلمة المرور" %}</button>
  </form>
</div>
{% endblock %}
