{% extends 'survey/base_survey.html' %}

{% block content %}

{% load static  %}

{% load i18n %}


<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<div class="evaluation-form-container">
    <form method="post">
        {% csrf_token %}

        <h2> البيانات الأساسية </h2>
        <div class="form-section">
            
            <div class="form-group">
                <label for="department_display">اسم الموظف </label>  {{ form.employee_name }}
            </div>

            {{ form.employee_code }} 
            <div class="form-group">
               <label for="department_display">كود الموظف</label>  <input type="text" id="employee_code_display" >
            </div>
                        
            <div class="form-group">
               <label for="department_display">البريد الالكتروني  </label>  {{ form.email }} 
            </div>
            
            {{ form.job_title }}
            <div class="form-group">
                <label for="job_title_display">المسمى الوظيفي </label>
                <input type="text" id="job_title_display" >
            </div>
                         
            <div class="form-group">
                <label for="department_display">المدير المباشر</label>  
                <input type="text" value="{{ manager_name|default:request.user.get_full_name }}" >
            </div>

            <div class="form-group">
            <label>فترة التقييم:</label>
            <div class="date-inputs">
                <span>من:</span> 
                {{ form.period_from }} 
                {% if form.period_from.errors %}
                    <div class="error-message">{{ form.period_from.errors }}</div>
                {% endif %}
                
                <span>— إلى:</span> 
                {{ form.period_to }}
                {% if form.period_to.errors %}
                    </br>
                    <div class="error-message">{{ form.period_to.errors }}</div>
                {% endif %}
            </div>
            
            {% if form.non_field_errors %}
                </br>
                <div class="error-message non-field-error">{{ form.non_field_errors }}</div>
            {% endif %}
            
        </div>
        </div>

        <hr>
        <h2>ثانياً: تقييم السلوك الوظيفي </h2>
        <div class="form-section">
            <div class="form-group">
                <label for="department_display">الالتزام بالحضور والانضباط</label>: {{ form.attendance_discipline }}
            </div>
            <div class="form-group">
                <label for="department_display">احترام التعليمات</label>: {{ form.follow_instructions }}
            </div>
            <div class="form-group">
                <label for="department_display">تحمل المسؤولية وتعدد المهام</label>: {{ form.task_responsibility }}
            </div>
            <div class="form-group">
                <label for="department_display">التعاون والعمل ضمن فريق</label>: {{ form.teamwork }}
            </div>
            <div class="form-group">
                <label for="department_display">التواصل الفعال</label>: {{ form.communication }}
            </div>
        </div>

        <hr>

        <h2>ثانياً: تقييم الأداء الفني والمهني</h2>
        <div class="form-section">
            <div class="form-group">
                <label for="department_display">انجاز المهام الرئيسية بجودة وكفاءة</label>: {{ form.main_tasks_quality }}
            </div>
            <div class="form-group">
                <label for="department_display">إنجاز المهام الاضافية خارج التوصيف   </label>  {{ form.extra_tasks }}
            </div>
            <div class="form-group">
                <label for="department_display">القدرة علي التكيف مع ضغط العمل  </label> {{ form.work_pressure }}
            </div>
            <div class="form-group">
                <label for="department_display">الالتزام بالاجراءات والسياسات</label>  {{ form.policies_commitment }}
            </div>
            <div class="form-group">
                <label for="department_display">الابداع في تقديم الحلول</label>  {{ form.creativity }}
            </div>
        </div>

        <hr>

        <h2>ثالثاً  الأداء العام قياس النتائج</h2>
        <div class="form-section">   
            <div class="form-group">
                <label for="department_display">مدي الاستجابة لطبيعة العمل في الطوارئ</label>  {{ form.emergency_response }}
            </div>
            <div class="form-group">
                <label for="department_display">نسبة  تغطية الفجوة عن نقص الكوادر</label>  {{ form.coverage_percentage }}
            </div>
        </div>

        <hr>

        <h2>التوصيات وملخص الأداء </h2>
        <div class="form-section">
            <h3>نقاط القوة لدى الموظف </h3>
            {{ form.strengths }}  
            
            <h3>التحديات </h3>
            {{ form.challenges }}
            
            <h3>الاحتياجات التدريبية </h3>
            {{ form.training_needs }}
            
            <h3>ملاحظات المسؤول المباشر </h3>
            {{ form.manager_notes }}
        </div>
    
        <button type="submit">حفظ التقييم </button>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        const employeesData = JSON.parse('{{ employees_json|escapejs }}');

        function updateEmployeeDetails(selectedName) {
            const employee = employeesData.find(emp => emp.name === selectedName);

            if (employee) {
                $('#employee_code_hidden').val(employee.code );
                $('#job_title_hidden').val(employee.job);
                $('#id_email').val(employee.email);
                $('#employee_code_display').val(employee.code);
                $('#job_title_display').val(employee.job);

            } else {
                $('#employee_code_hidden,#direct_manager_email_hidden, #job_title_hidden').val('');
                $('#employee_code_display, #job_title_display').val('');
            }
        }

        $('#employee_name_select').on('change', function() {
            const selectedName = $(this).val();
            updateEmployeeDetails(selectedName);
        });
        
        updateEmployeeDetails($('#employee_name_select').val()); 
    });
</script>


{% endblock %}