{% load static  %}

<p>عميلنا الكريم، لقد تم قبول طلبك</p>
<p>يمكنك مراجعة التفاصيل علي الرابط أدناه:</p>
<p>
{{url}}
</p>
<br/>
<br/>
<img class=" bd-imagestyles-18" src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'company_profile/img/smrc_logo.png' %}" width="163" height="153">
<p>
    تعتبر رسالة البريد الإلكتروني هذه وأي ملفات مرفقة بها سرية ومملوكة ومميزة قانونًا ومخصصة فقط لاستخدام الفرد أو الكيان الذي يتم توجيهها إليه. إذا تلقيت هذه الرسالة الإلكترونية عن طريق الخطأ، فيرجى إبلاغ المرسل فورًا وحذف هذه الرسالة وسيتم إعلامك بموجب هذا بأن أي إفشاء، أو نسخ، أو توزيع، أو اتخاذ إجراء بناءً على محتويات هذه الرسالة الإلكترونية محظور تمامًا وقد يكون غير قانوني. 
    وأخيراً، الرسائل الإلكترونية ليست آمنة أو خالية من الأخطاء وقد تحتوي على فيروسات أو قد تتأخر، يجب على المستلم التحقق من هذا البريد الإلكتروني وأية مرفقات للتأكد من وجود فيروسات. لا تتحمل الشركة  السودانية للموارد المعدنية أي مسؤولية عن أي ضرر ناتج عن أي فيروس يتم إرساله عبر هذا البريد الإلكتروني. يحتفظ المرسل بالحق في مراقبة الرسائل الإلكترونية وتسجيلها والاحتفاظ بها.
</p>