{% extends "admin/change_list.html" %}

{% block object-tools-items %}
{{ block.super }}
<li>
    <a href="export-csv/" class="button"
        style="background:#10b981;color:#ffffff;font-weight:bold;padding:4px 12px;border-radius:4px;text-decoration:none;">
        تصدير المستفيدين (CSV / إكسل)
    </a>
</li>
{% if user.is_superuser %}
<li>
    <a href="import-csv/" class="button"
        style="background:#8b5cf6;color:#ffffff;font-weight:bold;padding:4px 12px;border-radius:4px;text-decoration:none;">
        استيراد المستفيدين (CSV / إكسل)
    </a>
</li>
{% endif %}

{% endblock %}