{% extends "admin/index.html" %}
{% load i18n %}
{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% block content %}
<div id="content-main">
  {% if in_progress_apps %}
  <div class="app-company_profile module">
    <table id="latest_apps">
    <caption>
      {% translate "In progress" %}
    </caption>
    <thead>
      <tr style="display:none">
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
      </tr>
  </thead>    
    <tbody>
      {% for record in in_progress_apps.data %}
      <tr>
        <td>{{record.company}}</td>
        <td>{% translate record.app%}</td>
        <td><span style="float:left;direction:ltr">{{record.updated_at|date:"Y/m/d h:i"}}</span></td>
        <td><a href="{% url record.url record.id %}" class="changelink">{% translate 'View' %}</a></td>
      </tr>      
      {% endfor %}
    </tbody>
  </table>

</div>
<script src="https://code.jquery.com/jquery-3.7.1.js"  crossorigin="anonymous"></script>
{% comment %} <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"  crossorigin="anonymous"></script>
<script>
  new DataTable('#latest_apps', {
    order: {
      idx: 2,
      dir: 'asc'
    },
    language: {
      lengthMenu: 'Display _MENU_ records'
    },
    lengthMenu: [20,50, 100, 200, 500],
    paging: true,
    searching:false,
    info: false
  });
</script> {% endcomment %}
  {% endif %}
  {% comment %} {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %} {% endcomment %}
</div>
{% endblock %}

{% if not is_popup %}
{% block nav-breadcrumbs %}
  <nav aria-label="{% translate 'Breadcrumbs' %}">
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
      &rsaquo;
      {% for app in app_list %}
        {{ app.name }}
      {% endfor %}
    </div>
  </nav>
{% endblock %}
{% endif %}

{% block sidebar %}
{% comment %} {% if in_progress_apps %}
<div id="content-related">
  <h3>ملخص قيد الاجراء:</h3>
  <h5>تصنيف الطلبات بالشركة:</h5>
  <div>
    <canvas id="countCompanyChart"></canvas>
  </div>
  <br/>
  <h5>تصنيف الطلبات بنوع الطلب:</h5>
  <div>
        <canvas id="countAppChart"></canvas>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
<script>
  const ctx1 = document.getElementById('countCompanyChart');

  new Chart(ctx1, {
    type: 'pie',
    data: {
      labels: {{in_progress_apps.summary.company.name|safe}},
      datasets: [{
        label: 'تصنيف الطلبات بالشركة',
        data: {{in_progress_apps.summary.company.count}},
        hoverOffset: 4
      }]
    }
  });

  const ctx2 = document.getElementById('countAppChart');

  new Chart(ctx2, {
    type: 'pie',
    data: {
      labels: {{in_progress_apps.summary.app.name|safe}},
      datasets: [{
        label: 'تصنيف الطلبات بنوع الطلب',
        data: {{in_progress_apps.summary.app.count}},
        hoverOffset: 4
      }],
      
    }
  });

</script>
{% endif %} {% endcomment %}
{% endblock %}
