{% extends 'pa/base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load static  %}

{% block content %}
<h1 class="page-header">{{title}}</h1>
{% bootstrap_messages %}

<form action="" method="post">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-12">
    		{% bootstrap_field form.company %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			{% bootstrap_field form.from_dt %}
		</div>
		<div class="col-md-6">
			{% bootstrap_field form.to_dt %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% buttons %}
			<input type="submit" value="{% translate "Search" %}" class="btn btn-default" role="button">
			{% endbuttons %}
		</div>
	</div>
</form>

<script type="text/javascript" src="{% static 'company_profile/js/admin_jsi18n.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
{{ form.media }}

<br/>
<br/>
{%if not is_get%}

	<div  class="panel panel-default">
		{%if not qs%}
		{%translate "No records."%}
		{%else%}
		<table class="table">
			<tr>
				<th>{%translate "date"%}</th>
				<th>{%translate "financial item"%}</th>
				<th>{%translate "currency"%}</th>
				<th>{%translate "exchange_rate"%}</th>
				<th>{%translate "debit"%}</th>
				<th>{%translate "credit"%}</th>
			</tr>
			{%for m in qs %}
			<tr>
				<td>{{m.1|date}}</td>
				{%if m.6 == 'request'%}
					<td><a href="{% url 'pa:request_show' m.0 %}">{{m.2}}</a></td>
				{% elif m.6 == 'payment' %}
					<td><a href="{% url 'pa:payment_show' m.0 %}">{{m.2}}</a></td>
				{% endif %}
				<td>{% translate m.4%}</td>
				<td>{{m.5}}</td>
				<td>
					{%if m.6 == 'request'%}
					{{m.3}}
					{% else %}
					&nbsp;
					{% endif %}
				</td>
				<td>
					{%if m.6 == 'payment'%}
					{{m.3}}
					{% else %}
					&nbsp;
					{% endif %}
				</td>
			</tr>
			{%endfor%}
			<tr>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>{{request_total}}</th>
				<th>{{payment_total}}</th>
			</tr>
		</table>
		{%endif%}
	</div>
{%endif%}

{% endblock content %}

