{% extends 'company_profile/base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% load render_table from django_tables2 %}

{% block content %}
<h1 class="page-header">{{title}}</h1>
{% bootstrap_messages %}

{% if menu_name != 'profile:pa_request_list'%}

<a class="btn btn-primary" href="{% url menu_name%}add/" role="button">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	{% translate "New application" %}
</a>
<br/>
<br/>

{% endif %}
	<div  class="panel panel-default">

				{% render_table table %}
	</div>

{% endblock content %}

