{% extends "admin/change_form.html" %}
{% block content %}
    {{ block.super }}

    {% if original.employee.employeemoahil_set.exists%}
    <h2>البيانات المتوفرة: </h2>
    <div class="results">
    <table id="result_list">
    <thead>
    <tr>
        <th>المؤهل</th>
        <th>الجامعة</th>
        <th>التخصص</th>
        <th>تاريخ التخرج</th>
    </tr>
    </thead>
    <tbody>

        {% for obj in original.employee.employeemoahil_set.all%}
        <tr>
            <td>{{obj.moahil}}</td>
            <td>{{obj.university}}</td>
            <td>{{obj.takhasos}}</td>
            <td>{{obj.graduate_dt}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
    {% endif %}
    
{% endblock %}