{% extends 'gold_travel/report_base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load auth_extras %}
{% load static  %}
{% load humanize %}
{% block content %}
  <div style="text-align:left">{{object.code}}</div>
  <center>
    <h3 style="font-weight: bold !important;text-decoration: underline !important;">
{%if object.form_type == 1 %}
    إستمارة ترحيل ونقل لأغراض صادر الذهب
    {%if object.state == 1 %}
        &nbsp;(مسودة)
    {%endif%}
{% elif object.form_type == 2 %}
    إستمارة تصدير ذهب بغرض التصنيع والإعادة
    {%if object.state == 1 %}
        &nbsp;(مسودة)
    {%endif%}
{% elif object.form_type == 3 %}
    إستمارة ترحيل ونقل لأغراض صادر الفضة
    {%if object.state == 1 %}
        &nbsp;(مسودة)
    {%endif%}
{%endif%}
    </h3>
  </center>
  
  <br/>

  <div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th width="15%" class="active">التاريخ</th>
            <td>{{object.date|date:"Y/m/d"}}م</td>
            <th width="15%" class="active">الوجهة</th>
            <td>{{object.get_destination_display}}</td>
        </tr>
        <tr>
            <th width="15%" class="active">اسم المالك</th>
            <td>{{object.owner_name}}</td>
            <th width="15%" class="active">العنوان</th>
            <td>{{object.owner_address}}</td>
        </tr>
        <tr>
            <th width="15%" class="active">اسم الناقل</th>
            <td>{{object.repr_name}}</td>
            <th width="15%" class="active">العنوان ورقم الهاتف</th>
            <td>{{object.repr_address}} - {{object.repr_phone}}</td>
        </tr>
        <tr>
            <th width="15%" class="active">إثبات الهوية</th>
            <td>{{object.get_repr_identity_type_display}} {{object.repr_identity}}</td>
            <th width="15%" class="active">الإصدار</th>
            <td>{{object.repr_identity_issue_date|date:"Y/m/d"}}م</td>
        </tr>
        <tr>
            <th width="15%" class="active">وزن الخام المنقول</th>
            <td>{{object.gold_weight_in_gram|intcomma}} جرام</td>
            <th width="15%" class="active">عدد السبائك</th>
            <td>{{object.gold_alloy_count}}</td>
        </tr>
        <tr>
            <th width="15%" class="active">وصف المنقول</th>
            <td colspan="3">{{object.gold_description}}</td>
        </tr>
    </table>
</div>

  <h4>الإعتماد:</h4>
  {% with has_astikhbarat=request.user.state_representative.state.state_gold_travel.has_2lestikhbarat_2l3askria %}
  <div class="table-responsive">
    <table class="table table-bordered">
        <tr class="active">
            <th>البيان</th>
            <th {% if has_astikhbarat %} width="23%" {% else %} width="30%" {% endif %}>ممثل الشركة السودانية للموارد المعدنية المحدودة</th>
            <th {% if has_astikhbarat %} width="23%" {% else %} width="30%" {% endif %}>ممثل أمن إقتصاديات المعادن</th>
            <th {% if has_astikhbarat %} width="23%" {% else %} width="30%" {% endif %}>ممثل شرطة تأمين التعدين</th>
            {% if has_astikhbarat %}
            <th width="23%">ممثل هيئة الإستخبارات العسكرية</th>
            {% endif %}
        </tr>
        <tr>
            <th height="30px" class="active">الإسم</th>
            <td height="30px">{% if state_repr.2 %} {{state_repr.2}} {% endif %}</td>
            <td height="30px">{% if state_repr.3 %} {{state_repr.3}} {% endif %}</td>
            <td height="30px">{% if state_repr.4 %} {{state_repr.4}} {% endif %}</td>
            {% if has_astikhbarat %}
            <td height="30px">{% if state_repr.5 %} {{state_repr.5}} {% endif %}</td>
            {% endif %}
        </tr>
        <tr>
            <th height="30px" class="active">التوقيع</th>
            <td height="30px">&nbsp;</td>
            <td height="30px">&nbsp;</td>
            <td height="30px">&nbsp;</td>
            {% if has_astikhbarat %}
            <td height="30px">&nbsp;</td>
            {% endif %}
        </tr>
        <tr>
            <th height="80px" class="active">الختم</th>
            <td height="80px">&nbsp;</td>
            <td height="80px">&nbsp;</td>
            <td height="80px">&nbsp;</td>
            {% if has_astikhbarat %}
            <td height="80px">&nbsp;</td>
            {% endif %}
        </tr>

    </table>
  </div>
    {% endwith %}
    <p>تنبيهات هامة:</p>
    <ol>
        <li>مدة سريان الإستمارة ثلاثة أيام عمل رسمية.</li>
        <li>أي تعديل أو كشط يلغي الإستمارة.</li>
        <li>يسلم إيصال الإيداع الصادر من المواصفات والمقاييس إلى الشركة السودانية للموارد المعدنية المحدودة خلال المدة اعلاه.</li>
        {%if object.form_type == 1 %}
        <li>هذه الإستمارة صادرة لأغراض ترحيل الذهب ولأغراض الصادر فقط.</li>
        {%elif object.form_type == 2 %}
        <li>هذه الإستمارة صادرة لأغراض ترحيل الذهب ولأغراض الصادر فقط.</li>
        {%elif object.form_type == 3 %}
        <li>هذه الإستمارة صادرة لأغراض ترحيل الفضة ولأغراض الصادر فقط.</li>
        {%endif %}
        <li>هذه الإستمارة مجانية.</li>
    </ol>

    <div style="page-break-after: always;"></div>
    <br/>
    <image src="{% static 'gold_travel/img/logo.png'%}" class="center"/>

    <h4 style="text-align:center">الإدارة العامة للرقابة والإشراف على شركات الصادر وأسواق الذهب</h4>
    <h4 style="text-align:center">إدارة أسواق الذهب ولاية {{request.user.state_representative.state}}</h4>
    <h4 style="text-align:center">مرفق إستمارة رقم ({{object.code}})</h4>
    <h4 style="text-align:center">وزن السبائك بالتفاصيل</h4>

    {% for chunk in alloy_chunks%}

    {% if forloop.counter > 1 %}
        <div style="page-break-after: always;"></div>
        <br/>
        <image src="{% static 'gold_travel/img/logo.png'%}" class="center"/>
        <br/>
    {%endif%}

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="active">رقم السبيكة</th>
                    <th class="active">الوزن بالجرام</th>
                    <th class="active">ملاحظات</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in chunk%}
                <tr>
                    <td>{{obj.alloy_id}}</td>
                    <td>{{obj.alloy_weight_in_gram|intcomma}}</td>
                    <td>{{obj.get_alloy_shape_display}} {%if obj.alloy_note%} - {{obj.alloy_note}} {% endif%}</td>
                </tr>
                {% endfor %}

                {% if forloop.last %}
                <tr>
                    <th class="active">المجموع الكلي</th>
                    <th class="active">{{object.gold_weight_in_gram|intcomma}}</th>
                    <th class="active">&nbsp;</th>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <h4>الإعتماد: ..........................</h4>

    {% endfor %}

  
{% endblock content %}
