{% extends 'gold_travel/report_base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load auth_extras %}
{% load humanize %}

{% block content %}
  التاريخ: {{object.date|date:"Y/m/d"}}م
  <br/>
  <br/>
  <center>
    <p style="font-weight: bold !important;text-decoration: underline !important;">
    شهادة لمن يهمه الأمر
    {%if object.state == 1 %}
  &nbsp;(مسودة)
    {%endif%}
    </p>
  </center>
  <br/>
  <br/>

  تشهد الشركة السودانية للموارد المعدنية بأن أعمال/ شركة <b>{{object.owner_name}}</b> بصدد شراء وسبك وتجهيز  كمية ذهب في حدود <b>{{object.gold_weight_in_gram|intcomma}} جرام</b> وفق مواصفات الهيئة السودانية للمواصفات والمقاييس، بعيارات مختلفة وستتابع الشركة السودانية للموارد المعدنية المحدودة الاجراءات اللازمة لحين اصدار استمارة ترحيل بغرض الصادر وأن هذه الشهادة مبرئة للذمة في مراحل الشراء والسبك والتجهيز.

  <br/><br/>
  {% comment %} <center> {% endcomment %}
  وهذا منا للعلم ...........................
  {% comment %} </center> {% endcomment %}

  <br/><br/>

  <b>تنبيه مهم:</b> هذه الشهادة تسري <b>لمدة اسبوعين فقط</b> ولغرض الشراء والسبك والتجهيز.

  <br/><br/>
  <br/><br/>
  <br/><br/>

  <div style="text-align:left">
  {{object.issuer.name}}
  <br/>
  رئيس قسم اسواق الذهب بولاية {{object.issuer.state}}
  </div>

{% endblock content %}
